
{{range $method := .Interface.Methods}}
func (s *SDK) {{$method.Declaration}} { 	{{$req := "nil"}}
	url := rest.Url{{$method.Name}}
	{{if (and $method.HasParams (not $method.NoParamsRequest))}}
	req:=rest.Request{{$method.Name}} { {{range $p := $method.Params}} {{if (eq $p.Name "ctx") }}{{else}}
	{{(upFirst $p.Name)}} : {{$p.Name}},{{end}} {{end}}
	}{{$req = "req"}}
	{{end}}

    {{range $res := $method.Results}}{{if (eq $res.Type "error")}}{{else}}res := {{$res.Type}}{} {{end}}{{end}}
    {{- $HTTPMethod := $method.Operation.HTTPMethod -}}
    {{if (eq $HTTPMethod "")}}{{$HTTPMethod = "POST"}}{{end}}
	if err := s.doRequest(ctx, "{{$HTTPMethod}}", url, {{$req}}, &res); err != nil {
		err = wraperr.NewWrapErr(fmt.Errorf("{{$method.Name}} request to %s", url), err)
		return    {{range $i,$r := $method.Results -}}
                      {{- if (eq $i 0) -}}
                      {{- if (HasPrefix  $r.Type "[]") -}}
                      nil
                      {{- else -}}
                      {{$r.Type}}{}
                      {{- end -}}
                      {{- end -}}
                  {{- end -}}, err
	}

	return res, nil
}

{{end}}